**/node_modules/**
**/dist/**
**/build/**
packages/mobile/.expo/**
**/*.ico
**/*.ps1
**/*.svg
**/*.png
**/*.otf
**/*.log
**/*.lock
**/.env
**/.eslintignore
**/.gitignore
**/.yarnclean
**/.watchmanconfig
**/.nvmrc
**/.prettierignore
**/.DS_Store
**/*.map
**/*.sh
**/*.snap
.github/*.workflow
**/*.toml
**/_redirects